
<table  class="container" style="border-radius: 10px;">
  <thead>
    <tr>
      <th style="color: orange;" scope="col">BrandName</th>
      <th style="color: orange;" scope="col">CustomerName</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals">
      <td style="color: #FB667A;">{{ rental.brandName }}</td>
      <td style="color: #FB667A;">{{ rental.customerName }}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th style="color: orange;" scope="col">RentDate</th>
      <th style="color: orange;" scope="col">ReturnDate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals">
      <td>{{ rental.rentDate }}</td>
      <td style="color: #FB667A;">{{ rental.returnDate }}</td>
    </tr>
  </tbody>

</table> <br/>

