<div *ngIf="dataLoaded == false">
  <span class="visually-hidden">Loading...</span>
</div>
<section *ngIf="dataLoaded == true" class="wrapper">
  <div *ngFor="let car of cars" class="container">
    <br />
    <div class="row">
      <div class="col-sm-12">
        <div
          class="card text-white card-has-bg click-col"
          style="
            background-image: url('https://source.unsplash.com/600x900/?tech,car');
          "
        >
          <img
            class="card-img d-none"
            src="https://source.unsplash.com/600x900/?tech,car"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
          />
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h3 class="card-meta mb-3">Kiralık</h3>
              <h4 class="card-title mt-0">
                <a class="text-white" herf="#" style="text-decoration: none">{{
                  car.description
                }}</a>
              </h4>
              <br />
              <h3><i class="far fa-clock"></i> {{ car.modelYear }} Model</h3>
            </div>
            <div class="card-footer">
              <div class="media">
                <img
                  class="mr-12 rounded-circle"
                  src="https://conceptdraw.com/a1706c3/p16/preview/640/pict--manager-business-people-vector-stencils-library"
                  alt="Generic placeholder image"
                  style="max-width: 50px"
                />
                <div class="media-body">
                  <h6 class="my-0 text-white d-block">Yusuf Enes</h6>
                  <small>Product Manager</small>
                </div>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-outline-primary"
              style="color: white; border-radius: 20px"
              routerLink="/cars/carDetail/{{ car.carId }}"
            >
              Detaylar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
